img {
    width: 200px;
}
h2,h3 {
    margin: 0px;
}
.card_person{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin: 5px;
    box-sizing: border-box;
    background: lightgray;
    width: 50%;
    border: solid black 2px;
}

.father {
    display: flex;
    justify-content: center;
}
